## 특별배당 처리

BEN  
BF-B  
CHRW  
CINF  
O  
TROW

In [ ]:
import os
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.ticker import MultipleLocator

### BEN

In [ ]:
BEN = pd.read_csv('Data_Dividend/BEN_d.csv')

BEN

In [ ]:
BEN2 = BEN.copy()

BEN2['Date'] = pd.to_datetime(BEN2['Date'])

# 2014년 2월 1일부터 2024년 3월 1일까지의 날짜 필터링
start_date = '2014-03-27'
end_date = '2024-01-02'
filtered_BEN = BEN2[(BEN2['Date'] >= start_date) & (BEN2['Date'] <= end_date)]

# 결과 출력
filtered_BEN

### BF-B

In [ ]:
BFB = pd.read_csv('Data_Dividend/BF-B_d.csv')

BFB

In [ ]:
BFB2 = BFB.copy()

BFB2['Date'] = pd.to_datetime(BFB2['Date'])

# 2014년 2월 1일부터 2024년 3월 1일까지의 날짜 필터링
start_date = '2014-03-05'
end_date = '2023-11-30'
filtered_BFB = BFB2[(BFB2['Date'] >= start_date) & (BFB2['Date'] <= end_date)]

# 결과 출력
filtered_BFB

### CHRW

In [ ]:
CHRW = pd.read_csv('Data_Dividend/CHRW_d.csv')

CHRW

In [ ]:
CHRW2 = CHRW.copy()

CHRW2['Date'] = pd.to_datetime(CHRW2['Date'])

# 2014년 2월 1일부터 2024년 3월 1일까지의 날짜 필터링
start_date = '2014-03-05'
end_date = '2024-02-29'
filtered_CHRW = CHRW2[(CHRW2['Date'] >= start_date) & (CHRW2['Date'] <= end_date)]

# 결과 출력
filtered_CHRW

### CINF

In [ ]:
CINF = pd.read_csv('Data_Dividend/CINF_d.csv')

CINF

In [ ]:
CINF2 = CINF.copy()

CINF2['Date'] = pd.to_datetime(CINF2['Date'])

# 2014년 2월 1일부터 2024년 3월 1일까지의 날짜 필터링
start_date = '2014-03-17'
end_date = '2023-12-18'
filtered_CINF = CINF2[(CINF2['Date'] >= start_date) & (CINF2['Date'] <= end_date)]

# 결과 출력
filtered_CINF

### O

In [ ]:
O = pd.read_csv('Data_Dividend/O_d.csv')

O

In [ ]:
O2 = O.copy()

O2['Date'] = pd.to_datetime(O2['Date'])

# 2014년 2월 1일부터 2024년 3월 1일까지의 날짜 필터링
start_date = '2014-02-27'
end_date = '2024-02-29'
filtered_O = O2[(O2['Date'] >= start_date) & (O2['Date'] <= end_date)]

# 결과 출력
filtered_O

### TROW

In [33]:
TROW = pd.read_csv('Data_Dividend/TROW_d.csv')

TROW

           Date  Dividends
0    1986-12-19   0.003125
1    1987-03-23   0.003125
2    1987-06-22   0.003125
3    1987-09-21   0.003125
4    1987-12-24   0.004375
5    1988-03-21   0.004375
6    1988-06-20   0.004375
7    1988-09-26   0.004375
8    1988-12-23   0.006563
9    1989-03-22   0.006563
10   1989-06-16   0.006563
11   1989-09-22   0.004375
12   1989-12-22   0.009375
13   1990-03-16   0.009375
14   1990-06-15   0.009375
15   1990-09-24   0.009375
16   1990-12-20   0.010313
17   1991-03-18   0.010313
18   1991-06-17   0.010313
19   1991-09-23   0.010313
20   1991-12-20   0.011250
21   1992-03-23   0.011250
22   1992-06-19   0.011250
23   1992-09-24   0.011250
24   1992-12-21   0.013125
25   1993-03-19   0.013125
26   1993-06-18   0.013125
27   1993-09-24   0.013125
28   1993-12-23   0.016250
29   1994-03-18   0.016250
30   1994-06-17   0.016250
31   1994-09-26   0.016250
32   1994-12-22   0.020000
33   1995-03-20   0.020000
34   1995-06-20   0.020000
35   1995-09-27   0.020000
36   1995-12-26   0.026250
37   1996-03-20   0.026250
38   1996-06-20   0.026250
39   1996-09-25   0.026250
40   1996-12-26   0.032500
41   1997-03-19   0.032500
42   1997-06-19   0.032500
43   1997-09-24   0.032500
44   1997-12-24   0.042500
45   1998-03-19   0.042500
46   1998-06-18   0.042500
47   1998-09-23   0.042500
48   1998-12-23   0.050000
49   1999-03-23   0.050000
50   1999-06-21   0.050000
51   1999-09-22   0.050000
52   1999-12-23   0.065000
53   2000-03-22   0.065000
54   2000-06-21   0.065000
55   2000-09-20   0.065000
56   2000-12-27   0.075000
57   2001-03-21   0.075000
58   2001-06-20   0.075000
59   2001-09-19   0.075000
60   2001-12-24   0.080000
61   2002-03-19   0.080000
62   2002-06-19   0.080000
63   2002-09-25   0.080000
64   2002-12-24   0.085000
65   2003-03-19   0.085000
66   2003-06-18   0.085000
67   2003-09-24   0.085000
68   2003-12-23   0.095000
69   2004-03-19   0.095000
70   2004-06-23   0.095000
71   2004-09-23   0.095000
72   2004-12-22   0.115000
73   2005-03-22   0.115000
74   2005-06-22   0.115000
75   2005-09-22   0.115000
76   2005-12-28   0.140000
77   2006-03-22   0.140000
78   2006-06-22   0.070000
79   2006-09-26   0.140000
80   2006-12-27   0.170000
81   2007-03-21   0.170000
82   2007-06-20   0.170000
83   2007-09-19   0.170000
84   2007-12-26   0.240000
85   2008-03-12   0.240000
86   2008-06-12   0.240000
87   2008-09-11   0.240000
88   2008-12-16   0.240000
89   2009-03-12   0.250000
90   2009-06-11   0.250000
91   2009-09-10   0.250000
92   2009-12-11   0.250000
93   2010-03-12   0.270000
94   2010-06-10   0.270000
95   2010-09-10   0.270000
96   2010-12-10   0.270000
97   2011-03-11   0.310000
98   2011-06-10   0.310000
99   2011-09-12   0.310000
100  2011-12-12   0.310000
101  2012-03-13   0.340000
102  2012-06-12   0.340000
103  2012-09-11   0.340000
104  2012-12-12   0.340000
105  2012-12-13   1.000000
106  2013-03-11   0.380000
107  2013-06-11   0.380000
108  2013-09-11   0.380000
109  2013-12-12   0.380000
110  2014-03-12   0.440000
111  2014-06-11   0.440000
112  2014-09-11   0.440000
113  2014-12-12   0.440000
114  2015-03-12   0.520000
115  2015-04-07   2.000000
116  2015-06-11   0.520000
117  2015-09-11   0.520000
118  2015-12-14   0.520000
119  2016-03-14   0.540000
120  2016-06-13   0.540000
121  2016-09-13   0.540000
122  2016-12-13   0.540000
123  2017-03-14   0.570000
124  2017-06-13   0.570000
125  2017-09-13   0.570000
126  2017-12-13   0.570000
127  2018-03-14   0.700000
128  2018-06-14   0.700000
129  2018-09-13   0.700000
130  2018-12-13   0.700000
131  2019-03-14   0.760000
132  2019-06-13   0.760000
133  2019-09-12   0.760000
134  2019-12-13   0.760000
135  2020-03-13   0.900000
136  2020-06-12   0.900000
137  2020-09-14   0.900000
138  2020-12-14   0.900000
139  2021-03-15   1.080000
140  2021-06-14   1.080000
141  2021-06-24   3.000000
142  2021-09-14   1.080000
143  2021-12-15   1.080000
144  2022-03-14   1.200000
145  2022-06-14   1.200000
146  2022-09-14   1.200000
147  2022-12-15   1.200000
148  2023-03-14   1.220000
149  2023-06-14   1.220000
150  2023-09-14   1.220000
151  2023-12-14   1.220000
152  2024-03-14   1.240000

In [34]:
TROW2 = TROW.copy()

TROW2['Date'] = pd.to_datetime(TROW2['Date'])

# 2014년 2월 1일부터 2024년 3월 1일까지의 날짜 필터링
start_date = '2014-03-12'
end_date = '2023-12-14'
filtered_TROW = TROW2[(TROW2['Date'] >= start_date) & (TROW2['Date'] <= end_date)]

# 결과 출력
filtered_TROW

          Date  Dividends
110 2014-03-12       0.44
111 2014-06-11       0.44
112 2014-09-11       0.44
113 2014-12-12       0.44
114 2015-03-12       0.52
115 2015-04-07       2.00
116 2015-06-11       0.52
117 2015-09-11       0.52
118 2015-12-14       0.52
119 2016-03-14       0.54
120 2016-06-13       0.54
121 2016-09-13       0.54
122 2016-12-13       0.54
123 2017-03-14       0.57
124 2017-06-13       0.57
125 2017-09-13       0.57
126 2017-12-13       0.57
127 2018-03-14       0.70
128 2018-06-14       0.70
129 2018-09-13       0.70
130 2018-12-13       0.70
131 2019-03-14       0.76
132 2019-06-13       0.76
133 2019-09-12       0.76
134 2019-12-13       0.76
135 2020-03-13       0.90
136 2020-06-12       0.90
137 2020-09-14       0.90
138 2020-12-14       0.90
139 2021-03-15       1.08
140 2021-06-14       1.08
141 2021-06-24       3.00
142 2021-09-14       1.08
143 2021-12-15       1.08
144 2022-03-14       1.20
145 2022-06-14       1.20
146 2022-09-14       1.20
147 2022-12-15       1.20
148 2023-03-14       1.22
149 2023-06-14       1.22
150 2023-09-14       1.22
151 2023-12-14       1.22

In [35]:
data = filtered_TROW

index = list(range(110, 152))
filtered_TROW = pd.DataFrame(data, index=index)

# 제거할 인덱스
indices_to_remove = [115, 141]

# 특정 인덱스의 행 제거
filtered_TROW_revised = filtered_TROW.drop(indices_to_remove)

# 데이터프레임을 CSV 파일로 저장 (인덱스를 포함하지 않음)
filtered_TROW_revised.to_csv('TROW_d_revised.csv', index=False)

In [36]:
T = pd.read_csv('TROW_d_revised.csv')

In [37]:
T

          Date  Dividends
0   2014-03-12       0.44
1   2014-06-11       0.44
2   2014-09-11       0.44
3   2014-12-12       0.44
4   2015-03-12       0.52
5   2015-06-11       0.52
6   2015-09-11       0.52
7   2015-12-14       0.52
8   2016-03-14       0.54
9   2016-06-13       0.54
10  2016-09-13       0.54
11  2016-12-13       0.54
12  2017-03-14       0.57
13  2017-06-13       0.57
14  2017-09-13       0.57
15  2017-12-13       0.57
16  2018-03-14       0.70
17  2018-06-14       0.70
18  2018-09-13       0.70
19  2018-12-13       0.70
20  2019-03-14       0.76
21  2019-06-13       0.76
22  2019-09-12       0.76
23  2019-12-13       0.76
24  2020-03-13       0.90
25  2020-06-12       0.90
26  2020-09-14       0.90
27  2020-12-14       0.90
28  2021-03-15       1.08
29  2021-06-14       1.08
30  2021-09-14       1.08
31  2021-12-15       1.08
32  2022-03-14       1.20
33  2022-06-14       1.20
34  2022-09-14       1.20
35  2022-12-15       1.20
36  2023-03-14       1.22
37  2023-06-14       1.22
38  2023-09-14       1.22
39  2023-12-14       1.22